@media screen and (min-width: 320px){

*{
    margin: auto;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}


.mobile-menu{
  background: navy;
  font-size: 51px;
  width: 100%;
  height: 186px;
}
.images a{
    margin-top: 11px;
    display: flex;
    float: left;
    width: 32%;
    color: yellow;
    background: blue;
    height: 91px;
    border: 2px dotted yellow;
}
.precio a{
    margin-top: 11px;
    display: flex;
    float: left;
    width: 32%;
    color: yellow;
    background: blue;
    height: 91px;
 
    border: 2px dotted yellow;
}
.mail a{
    margin-top: 11px;
    display: flex;
    height: 91px;
    float: left;
    width: 32%;
    color: yellow;
    background: blue;
    border: 2px dotted yellow;
}




.infoalex img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.desktop-menu{
    display: none;
}

p{
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 21px;
    font-weight: bold;
    color: white;
   
}
h2{
    padding-left: 21px;
    padding-right: 4px;
    background: black;
    border-radius: 40px;
    color: yellow;
    width: 177px;
    margin: 21px;
    font-size: 31px;
    margin-bottom: 21px;
}
h3{
    padding-left: 21px;
    background: black;
    border-radius: 40px;
    color: yellow;
    width: 241px;
    margin: 21px;
    font-size: 31px;
    margin-bottom: 0;
}
h4{
    padding-left: 21px;
    background: black;
    border-radius: 40px;
    color: yellow;
    width: 127px;
    margin: 21px;
    font-size: 31px;
    margin-bottom: 21px;
}
h5{
    padding-left: 21px;
    background: black;
    border-radius: 40px;
    color: yellow;
    width: 157px;
    margin: 21px;
    font-size: 31px;
    margin-bottom: 21px;
}
.info {
    background: blue;
    height: 140px;
}

.botones ol {
  display: flex;
  background: coral;
  list-style-type: none;
}
.botones p{
    display: flex;
    color: white;
    margin-left: 10px;
    background: coral;
    width: 90%;
    height: 40px;
    margin-top: 11px;
    margin-bottom: 10px;
    border-radius: 70px;
    border-style: dotted;
    padding-top: 0;
    float: left;
    font-size: 27px;
}
.sec p {
    display: flex;
    color: white;
    background: green;
    width: 90%;
    height: 40px;
    margin-left: 14px;
    border-radius: 70px;
    border-style: dotted;
    font-size: 27px;
  
}

ol li img{
    padding-top: 21px;
    width: 100%;
    display: flex;
   
  
}
.gallery{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    
  
}
.gallery2{
    display: none;
}

.logo img{
    padding-top: 10px;
    width: 240px;
    height: 100%;
    display: flex;
   
}
.costos{
    display: none;
}
.costos1{
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    background: red;
    padding-bottom: 21px;
}

.fixed-background p{
    padding-top: 40px;
    padding-bottom: 40px;
    color: blue;
  
    
}



}
 @media screen and (min-width: 768px){

    *{
        margin: auto;
        padding: 0;
        font-family: 'Quicksand', sans-serif;
    }
    
    .mobile-menu{
        display: none;
      }

      .desktop-menu{
        display: block;
      }
    
    .infoalex img{
        width: 96.67%;
        display: flex;
        justify-content: center;
    }
    
    p{
        display: flex;
        justify-content: center;
        font-size: 29px;
        font-weight: bold;
       
    }
    h2{
        padding-left: 41px;
        padding-right: 4px;
        background: black;
        border-radius: 40px;
        color: yellow;
        width: 190px;
        margin: 40px;
        font-size: 31px;
        margin-bottom: 21px;
    }
    h3{
        padding-left: 41px;
        
        background: black;
        border-radius: 40px;
        color: yellow;
        width: 271px;
        margin: 40px;
        font-size: 31px;
        margin-bottom: 0;
    }
    h4{
        padding-left: 41px;
        background: black;
        border-radius: 40px;
        color: yellow;
        width: 144px;
        margin: 40px;
        font-size: 31px;
        margin-bottom: 21px;
    }
    h5{
        padding-left: 41px;
        background: black;
        border-radius: 40px;
        color: yellow;
        width: 190px;
        margin: 40px;
        font-size: 31px;
        margin-bottom: 21px;
    }
    .info {
        background: blue;
        height: 140px;
    }
    
    .botones ol {
      display: flex;
      background: coral;
      list-style-type: none;
    }
    .botones p{
        display: flex;
        color: white;
        background: coral;
        width: 29%;
        height: 40px;
        margin-left: 190px;
        margin-top: 40px;
        border-radius: 70px;
        border-style: dotted;
        float: left;
        font-size: 27px;
    }
    .sec p {
        display: flex;
        color: white;
        background: green;
        width: 29%;
        height: 40px;
        margin-right: 190px;
        margin-top: 40px;
        border-radius: 70px;
        border-style: dotted;
        float: right;
        font-size: 27px;
      
    }
    
    ol li img{
        padding-top: 24px;
        width: 90%;
        display: flex;
    
    
    }
    .gallery{
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
    .gallery2{
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
    .infograma img{
        padding-top: 21px;
        width: 96.67%;
       
    }
    .logo img{
        width: 440px;
        height: 90px;
        display: flex;
        padding-right: 290px;
    }
    
    .costos{
        width: 100%;
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0;
        background: red;
        padding-bottom: 21px;
    }
    .costos1{
        display: none;
    }

    .desktop-menu{
       background: navy;
        font-size: 71px;
        height: 111px ;
        width: 100%;
        
        
      }
     .desktop-menu ul{
         display: flex;
         list-style-type: none; 
     }
     
     .fixed-background{
        display: block;
        background:url('https://1.bp.blogspot.com/-ikuSHPgtc14/Xdd3iSbhM8I/AAAAAAAAKt8/qpl6V9dnTaQfbXDoeGv7g5XwJ-DfxpphgCEwYBhgL/s1600/infobackground.jpg') center fixed;
        background-size: cover;
        width: 100%;
        height: 70vh;
        
      }
    .fixed-background p{
        padding-top: 190px;
        color: white;
    }
    
     .desktop-menu ul li{
         display: flex;
        margin-left: 40px;
         margin-right: 0;
     }
    
     .desktop-menu ul li a{
            display: flex;
            padding-top: 0;
            color: yellow;
            background: blue;
            width: 110px;
            height: 111px;
            
            
        
     }
 }

 

